.home-article{
    background-color: $color-light;
    min-height: 400px;
    font-size: 0;

    main,
    aside{
        vertical-align: top;
        @extend %font-size;
    }

    main{
        article{
            @extend %wp-styles;
        }

        h1{
            text-transform: uppercase;
            height: 30px;
            box-sizing: content-box;
            border-bottom: 3px solid rgba(black,.1);
            padding-bottom: 20px;
            margin-bottom: 20px;
        }

        padding-bottom:30px;
    }

    aside{
        border-top: 3px solid rgba(black,.1);
        padding-top: 20px;
        margin-top: 50px;
    }


    .home-links li a{
        display: block;
        position: relative;
        margin-bottom: 10px;
        background-color: white;
        padding: 15px;
        color: $color-light-6;

        &:after{
            content: '';
            display: block;
            width: 17px;
            height: 17px;
            position: absolute;
            border-right: 3px solid $color-green-3;
            border-top: 3px solid $color-green-3;
            right: 20px;
            top: 14px;
            transform: rotate(45deg);
        }

    }

    @media only screen and(min-width:768px){

        main{
            display: inline-block;
            width: calc(60% - 10px);
            margin-right: 10px;
        }

        aside{
            display: inline-block;
            width: calc(40% - 10px);
            margin-left: 10px;
        }

    }

    @media only screen and(min-width:960px){

        main{
            display: inline-block;
            width: calc(60% - 15px);
            margin-right: 15px;
        }

        aside{
            display: inline-block;
            width: calc(40% - 15px);
            margin-left: 15px;
        }

    }

}
