

$menu-height-small: 50px;
$menu-height: 60px;

%menu-height{

    height: $menu-height-small;
    line-height: $menu-height-small;

    @media only screen and(min-width:640px){
        height: $menu-height;
        line-height: $menu-height;
    }


}

.header-fixed{
    @extend %menu-height;

}

.main-menu{
    width: 100%;
    top: 0;

    position: fixed;
    @media only screen and(min-width:640px){position:relative;}

    border-top: 3px solid $color-green-3;
    background-color: $color-light;
    text-align: right;
    font-size: 0;
    z-index: 100;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.05) inset;

    *{
        vertical-align: top;
    }

}

.fixed-header .main-menu{
    position: fixed;
}
.site-main-menu{
    @extend %font-size;
    @media only screen and(min-width:700px){
        display: inline-block;
    }

    display: none;
    @extend %menu-height;
    text-align: right;

    li{
        display: inline-block;
        @extend %menu-height;
    }

    a{
        display: block;
        @extend %menu-height;
        padding: 0px 10px;
        color: $color-dark-2;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 70%;
        @media only screen and(min-width:768px){
            font-size: 80%;
        }

        @media only screen and(min-width:960px){
            font-size: 90%;
        }

    }

    li.header-cta a{
        font-weight: 400;
        background-color: $color-green;
        width: auto;
        padding: 0px 25px;
        color: white;

        &:hover{
            background-color: darken($color-green,5);
            color: white;

        }

        font-size: 12px;
        @media only screen and(min-width:768px){
            font-size: 14px;
        }

        @media only screen and(min-width:960px){
            font-size: 15px;
        }
}
}

.header-search-form{
    @extend %font-size;
    display: none;
}

a.header-search,
a.header-phone,
a.header-cta,
a.header-hamburger{
    position: relative;
    display: inline-block;
    @extend %menu-height;
    width: 55px;
    @media only screen and(min-width:640px){
        width: 70px;
    }

    color: white;
    fill: white;
    transition: background-color 120ms, margin-right 120ms;

    svg{
        @include center(true,true);

        width: 20px;
        height: 20px;

        @media only screen and(min-width:640px){
            width: 30px;
            height: 30px;

        }

    }
}




a.header-search{
        background-color: $color-green;

        &:hover{
            background-color: darken($color-green,5);
        }
    }

    a.header-phone{
        background-color: $color-green-2;

        &:hover{
            background-color: darken($color-green-2,5);
        }
    }

    a.header-hamburger{
        background-color: $color-green-3;

        &:hover{
            background-color: darken($color-green-3,5);
        }
    }

@media only screen and(min-width:700px){

    a.header-search{
        background-color: $color-green-2;

        &:hover{
            background-color: darken($color-green-2,5);
        }
    }

    a.header-phone{
        background-color: $color-green-3;

        &:hover{
            background-color: darken($color-green-3,5);
        }
    }

    a.header-hamburger{
        display: none;
    }

}

