$base-color: #333;
$base-font: 'Droid Sans', sans-serif;
$base-font-weight: 400;

$base-font-size:     14px;
$base-font-size-480: 15px;
$base-font-size-640: 16px;
$base-font-size-960: 16px;
$base-line-height: 1.5;


$color-dark: #3a3a3a;
$color-dark-2: #484848;

$color-green: #7eb667;
$color-green-2: #54979b;
$color-green-3: #00646a;

$color-light: #f5f5f5;
$color-light-2: #d5d5d5;
$color-light-3: #bfbfbf;
$color-light-4: #959595;
$color-light-5: #808080;
$color-light-6: #737373;

$page-max-width: 1280px;
